/**
 * WHMCS Bootstrap Override Sheet
 *
 * These styles override Bootstrap's defaults.
 *
 * @project   WHMCS
 * @cssdoc    version 1.0-pre
 * @package   WHMCS
 * @author    WHMCS Limited <development@whmcs.com>
 * @copyright Copyright (c) WHMCS Limited 2005-2015
 * @license   http://www.whmcs.com/license/
 * @link      http://www.whmcs.com/
*/

@import url("//fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:400,700");
#tabOverview .row .col-xs-12{
	display:none !important;
}
body,
input,
button,
select,
textarea {
  font-family: "Open Sans", Verdana, Tahoma, serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.navbar-main {
    margin-bottom: 0;
    background-color: #006687;
    border: 0;
    min-height: 38px;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.navbar-main .navbar-nav > li > a {
    color: #fff;
}

.navbar-main .navbar-nav > li > a {
    padding-top: 9px;
    padding-bottom: 9px;
}

.navbar-main .navbar-nav > li > a:hover,
.navbar-main .navbar-nav > li > a:focus,
.navbar-main .navbar-nav > .active > a,
.navbar-main .navbar-nav > .active > a:hover,
.navbar-main .navbar-nav > .active > a:focus,
.navbar-main .navbar-nav > .open > a,
.navbar-main .navbar-nav > .open > a:hover,
.navbar-main .navbar-nav > .open > a:focus {
    color: #222222;
    background-color: #eee;
}

#main-menu .navbar-nav {
    margin-left: -15px;
    margin-right: -15px;
}

@media (max-width: 768px) {
    .navbar-main .navbar-nav .open .dropdown-menu > li > a {
        color: #ddd;
    }
    .navbar-main .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #fff;
    }
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

.panel {
  font-size: 0.9em;
}

.list-group {
  font-size: 0.9em;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    background-color: #006687;
}

.pagination {
    font-size: 0.8em;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    color: white;
    background-color: #006687;
    border-color: #006687;
}

.navbar-main .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #fff;
    background-color: #006687;
}

.label {
    border-radius: 0;
}

input[type='file'].form-control {
    height: inherit;
    margin-bottom: 5px;
}

.list-group-item {
    padding: 7px 15px;
}
.panel-body {
    padding: 10px 15px;
}

/* 
 * We use a larger font-size than the bootstrap default, which requires an increase 
 * in the top offset to maintain correct alignment in form control feedback. 
 */
.has-feedback label ~ .form-control-feedback {
    top: 27px !important;
}

.list-group-item > i.fa.fa-circle-o {
    color: #808080;
}
