/**
 * Invoice Style Sheet
 *
 * Contains styling specific to the view invoice page.
 *
 * @project   WHMCS
 * @version   1.0
 * @author    WHMCS Limited <development@whmcs.com>
 * @copyright Copyright (c) WHMCS Limited 2005-2015
 * @license   http://www.whmcs.com/license/
 * @link      http://www.whmcs.com/
 */

body {
    background-color: #efefef;
}

/* Container Responsive Behaviour */

.invoice-container {
    margin: 15px auto;
    padding: 70px;
    max-width: 850px;
    background-color: #fff;
    border: 1px solid #ccc;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

@media (max-width: 895px) {
    .invoice-container {
        margin: 15px;
    }
}
@media (max-width: 767px) {
    .invoice-container {
        padding: 45px 45px 70px 45px;
    }
}

/* Invoice Status Formatting */

.invoice-container .invoice-status {
    margin: 20px 0 0 0;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}

/* Invoice Status Colors */

.unpaid {
    color: #cc0000;
}
.paid {
    color: #779500;
}
.refunded {
    color: #224488;
}
.cancelled,
.draft {
    color: #888;
}
.collections {
    color: #ffcc00;
}

/* Payment Button Formatting */

.payment-btn-container {
    margin-top: 0px;
	text-align: left;
}

html[dir='rtl'] .payment-btn-container {
	text-align: right;
}

.payment-btn-container input[type="submit"] {

	 border: none;
  font-size: 15px;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 7px 14px;
  margin-bottom: 5px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
	  color: #fff;
  background-color: #1abc9c;  

}

.payment-btn-container input[type="submit"]:hover {

	  color: #ffffff;
  background-color: #1dd2af;
  border-color: #1dd2af;
}

.invoice-container .payment-btn-container table {
    margin: 0 auto;
}

/* Text Formatting */

.invoice-container .small-text {
    font-size: 0.9em;
}

/* Invoice Items Table Formatting */

.invoice-container td.total-row {
    background-color: #f8f8f8;
}
.invoice-container td.no-line {
    border: 0;
}
