/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-05-15, 07:47:27
    Author     : INBS37
*/

.rex_left_container {
    float: left;
    width: 190px;
    margin-right: 10px;
}

.rex_center_container {
    overflow: hidden;
    margin-bottom: 10px;
}

.rex_mainmenu {
    list-style-type: none;
}

.rex_mainmenu strong {
    display: block;
    margin: 10px 0;
}

div.form-container div {
    margin-bottom: 13px;
}

div.form-container div > label, input, select, span {
    margin-right: 5px;
}

div.form-container table, table tr, table td {
    order: none;
}

table#show_ftpusers_table th {
    text-align: center;
    margin-bottom: 40px;
}

.modify_link {
    color: #004A95;
}

.modify_link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.close_link {
    color: #004A95;
    text-decaration: underline;
}

.close_link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.modify_msg_ok {
    color: green;
    text-align: center;
}

.modify_msg_ok span {
    float: left
}

.modify_msg_error {
    color: red;
    text-align: center;
}

.modify_msg_error span {
    float: left
}

.modify_msg_row span {
    float: left;
}

.click_to_close_error {
    color: #004A95;
}

.click_to_close_error:hover {
    color: #004A95;
    text-decoration: underline;
    cursor: pointer;
}

.click_to_close_ok {
    color: #004A95;
}

.click_to_close_ok:hover {
    color: #004A95;
    text-decoration: underline;
    cursor: pointer;
}

.cancel_link {
    color: #cc0000;
    padding: 5px 20px;
    font-weight: bold;
}

.cancel_link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.results_info_ok {
    background: green
}

.form-container table {
    border: 0 !important;
}

.form-container table td {
    border: 0 !important;
}

table#show_ftpusers_table {
    margin-top: 20px;
    margin-bottom: 60px;
}

img.loader {
    height: 20px;
    width: 20px
}

.add_ftp_error img {
    margin-right: 10px
}

.ftp_quota_field input#chg_ftp_quota_1 {
    margin-right: 5px;
    float: left;
}

.ftp_quota_field input#chg_ftp_quota_2 {
    margin-right: 5px;
    margin-left: 15px;
    float: left;
}

.ftp_quota_field input#chg_ftp_quota_value {
    width: 50px;
}

.ftp_quota_field * {
    float: left;
}

.email_quota_field input#chg_email_quota_1 {
    margin-right: 5px;
    float: left;
}

.email_quota_field input#chg_email_quota_2 {
    margin-right: 5px;
    margin-left: 15px;
    float: left;
}

.email_quota_field input#chg_email_quota_value {
    width: 50px;
}

.email_quota_field * {
    float: left;
}

.modify_row {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eff2f3
}

#email_accounts_chg_quota_row, #create_account_table, #ftp_accounts_search, #email_accounts_chg_passwd_row, #email_accounts_delete_row, #create_email_account_table, #search_email_account_table, #create_subdomain_table, #search_subdomain_table, #modify_subdomain_row, #subdomain_remove_row, #subdomain_redirection_row, #modify_job_delete_row, #modify_job_edit_row, #add_db_table, #db_search_table, #add_user_table, #modify_user_delete_row, #modify_user_edit_row, #user_to_db_table, #current_db_chg_privileges_row, #current_db_delete_row {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eff2f3
}

#create_addondomain_table, #addondomains_search, #create_aforward_table, #create_dforward_table, #search_aforward_table, #parkeddomains_search, #search_dforward_table, #user_search_table, #create_parkeddomain_table {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eff2f3
}

table.showlist_table {
    border: 1px solid #ddd !important;
}

table.showlist_table td, table.showlist_table th {
    border-bottom: 1px solid #ddd !important;
}

table.showlist_table table td {
    border: 0 !important;
}

#general_container {
    clear: both;
    float: left;
    margin: 0;
    width: 100%;
    border-left: solid 1px #D3D3D3;
    border-right: solid 1px #D3D3D3;
    border-bottom: solid 1px #D3D3D3;
}

#add_mailbox_general_table input, #add_mailbox_contact_table input, #edit_mailbox_general_table input, #edit_mailbox_contact_table input {
    width: 120px;
}

.require_asterisk {
    color: red
}

#error_container {
    background-color: #FFCC99;
    border: solid 2px red;
    margin: 10px 0 10px 0;
    padding: 7px 5px 7px 5px;
}

#error_container div.header {
    color: black;
    font-weight: bold;
    font-size: 22px;
}

#error_container li {
    color: black;
}

#info_container {
    background-color: #99ffcc;
    border: solid 2px green;
    margin: 10px 0 10px 0;
    padding: 7px 5px 7px 5px;
}

#info_container div.header {
    color: black;
    font-weight: bold;
    font-size: 15px;
}

#info_container li {
    color: black;
}

.bookmarks {
    margin: 0;
    list-style: none;
    width: 100%;
    border-left: solid 1px #D3D3D3;
}

.bookmarks li {
    float: left;
    padding: 2px 5px 2px 5px;
    border-right: solid 1px #D3D3D3;
    border-top: solid 1px #D3D3D3;
    background-color: #D3D3D3;
}

.bookmarks li.bookmark_selected {
    float: left;
    padding: 2px 5px 2px 5px;
    border-right: solid 1px #D3D3D3;
    border-top: solid 1px #D3D3D3;
    background-color: white;
    font-weight: bold;
}

.bookmarks li a {
    float: left;
    line-height: 30px;
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: #7a7d80 !important;
    font-weight: 800;
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 11px;
    font-weight: bold;
}

.bookmarks li a:hover {
    color: #3d3e40 !important;
    padding: 0;
    margin: 0;
}

.bookmarks li.bookmark_selected a {
    color: #3d3e40 !important;
}

.rex_left_container {
    float: left;
    width: 190px;
}

.rex_mainmenu {
    list-style-type: none;
    clear: both;
    float: left;
    margin: 0;
    padding: 0;
}

.rex_mainmenu li {
    padding: 5px 15px 5px 15px;
}

.rex_mainmenu li.back {
    padding: 0 5px 0 0;
}

.rex_mainmenu li.email_header {
    padding: 10px 5px 10px 5px;
}

.rex_mainmenu a.selected {
    font-weight: bold;
    color: #000;
}

.rex_manage_img {
    margin: 0 3px -3px 0 !important;
    padding: 0;
    border: none;
    width: 16px;
    height: 16px;
}

.manage_header {
    float: left;
}

.hide_area {
    display: none
}

.input_field_120 {
    width: 120px;
}

.input_field_200 {
    width: 200px;
}

.space_10 {
    clear: both;
    height: 10px;
}

.mailbox_phone_hidden_field {
    display: none;
}

#manage_mailboxes_form {
    clear: both;
}

#manage_mailboxes_select {
    clear: both;
}

.add_mailbox_btn {
    float: left;
    margin-top: 20px;
}

#list_mailboxes_table {
    margin: 15px 0;
}

#list_mailboxes_table th, #list_aliases_table th {
    padding: 5px;
    border-bottom: 3px solid #DDDDDD !important;
}

#list_mailboxes_table td, #list_aliases_table td {
    padding: 5px;
    border-bottom: 1px solid #DDDDDD !important;
}

#list_mailboxes_table td.mailbox {
    text-align: left;
}

#add_mailbox_bookmarks_view {
    margin-top: 20px;
}

.bookmarks {
    float: left;
}

#add_mailbox_general_area h4, #edit_mailbox_general_area h4 {
    margin: 15px 0 10px 0;
}

#add_mailbox_general_area input, #add_mailbox_general_area select, #edit_mailbox_general_area input, #edit_mailbox_general_area select {
    margin-left: 20px;
    margin-right: 5px;
}

td.static_form_value {
    padding: 5px 5px 5px 20px;
}

#add_mailbox_general_info_table {
    float: left;
    margin: 20px 0 20px 10px;
    width: 50%
}

#add_mailbox_general_storage_table {
    float: left;
    margin: 20px 0 20px 10px;
    width: 45%
}

#add_mailbox_contact1_table {
    float: left;
    margin: 20px 10px 20px 10px;
    width: 45%
}

#add_mailbox_contact2_table {
    float: left;
    margin: 20px 10px 20px 10px;
    width: 45%
}

#add_mailbox_contact_table textarea {
    margin-bottom: 10px;
    resize: none;
}

#edit_mailbox_general_info_table {
    float: left;
    margin: 20px 0 20px 10px;
    width: 50%
}

#edit_mailbox_general_storage_table {
    float: left;
    margin: 20px 0 20px 10px;
    width: 45%
}

#edit_mailbox_contact1_table {
    float: left;
    margin: 20px 10px 20px 10px;
    width: 45%
}

#edit_mailbox_contact2_table {
    float: left;
    margin: 20px 10px 20px 10px;
    width: 45%
}

#edit_mailbox_contact_table textarea {
    margin-bottom: 10px;
    resize: none;
}

.list_current_usage_area {
    float: left;
    width: 50px;
    text-align: right;
}

.list_current_usage_progress {
    border: 1px solid black;
    width: 50px;
    height: 12px;
    float: left;
    margin-left: 3px;
    margin-right: 3px;
}

.list_current_usage_size {
    float: left;
    width: 50px;
}

.mailbox_storage_lbl {
    float: left;
    margin: 0 0 10px 0;
}

.mailbox_storage_percents {
    clear: both;
    margin: 0;
    width: 200px;
    height: 20px;
    border: solid 1px grey
}

.mailbox_storage_progress_foother {
    clear: both;
    float: left;
    width: 200px;
}

.mailbox_storage_progress_foother_left {
    float: left;
    margin-left: 5px;
}

.mailbox_storage_progress_foother_right {
    float: right;
    margin-right: 5px;
}

#add_alias_btn {
    float: left;
    margin-top: 20px;
}

#manage_aliases_form {
    clear: both;
}

#list_aliases_table {
    margin: 15px 0;
    width: 100%
}

#manage_aliases_select {
    clear: both;
    float: left;
    margin-right: 10px;
    margin-left: 11px;
}

#manage_aliases_button {
    float: left;
}

.aliases_container {
    margin-top: 20px;
}

.aliases_area {
    overflow: hidden;
}

.aliases_table {
    float: left;
    margin: 20px 10px 20px 10px;
    width: 90%
}

.inside_members_container .inside_members_label1 {
    float: left;
}

.inside_members_container div {
    float: left;
    height: 170px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
}

.inside_members_container .inside_members_label2 {
    float: left;
    margin-top: -20px;
}

.inside_members_container .inside_members_select1 {
    clear: both;
    float: left;
    width: 200px;
    height: 170px;
}

.inside_members_container .inside_members_select2 {
    float: left;
    width: 200px;
    height: 170px;
}

.outside_members_container .outside_members_label1 {
    float: left;
}

.outside_members_container .outside_members_input1 {
    clear: both;
    float: left;
    width: 190px;
}

.outside_members_container .outside_members_button1 {
    float: left;
    margin-left: 5px;
}

.outside_members_container .outside_members_select1 {
    clear: both;
    float: left;
    width: 200px;
    margin-top: 10px;
}

.outside_members_container .outside_members_button2 {
    clear: both;
    float: left;
    margin-top: 10px;
}

.inside_members_container .inside_members_input1 {
    margin-bottom: 5px;
}

.msync_container {
    margin-top: 20px;
}

#set_mobile_sync_area {
    width: 700px;
    clear: both;
    float: left;
    border: solid 1px #D3D3D3;
}

#set_mobile_sync_table {
    float: left;
    margin: 20px 10px 20px 10px;
    width: 90%
}

.mobile_sync_users_list_hide {
    display: none;
}

#mobile_sync_users_list div {
    margin: 0;
    width: 350px;
    height: 30px;
    background-color: #F2F2F2;
    border: solid 1px #D3D3D3;
}

#mobile_sync_users_list ul {
    width: 350px;
    margin: 0;
    border-left: solid 1px #D3D3D3;
    border-right: solid 1px #D3D3D3;
    list-style: none;
}

#mobile_sync_users_list ul li {
    background-color: #F8F8F8;
    border-bottom: solid 1px #D3D3D3;
    padding: 7px 10px 7px 10px;
}

#mobile_sync_users_list ul li.no_users {
    background-color: #F8F8F8;
    border-bottom: solid 1px #D3D3D3;
    padding: 7px 10px 7px 10px;
    text-align: center;
}

.notif_container {
    margin-top: 20px;
}

#set_storage_notification_area {
    width: 700px;
    clear: both;
    float: left;
    border: solid 1px #D3D3D3;
}

#set_mobile_sync_table {
    float: left;
    margin: 20px 10px 20px 10px;
    width: 90%
}

#notification_message_input {
    width: 490px;
    height: 80px;
    clear: both;
    float: left;
}

.notification_message_area span {
    float: left;
}

#preferences_domain_form {
    clear: both;
}

.preferences_container {
    margin-top: 20px;
    border: solid 1px #D3D3D3;
    padding: 20px;
    float: left;
}

.pref_status_label {
    float: left;
}

.pref_status_options_area {
    clear: both;
    float: left;
    list-style: none;
    margin: 10px 0 10px 0;
}

.pref_status_options_area .li_first {
    float: left;
}

.pref_status_options_area li {
    float: left;
    margin-left: 7px;
}

.pref_note1 {
    clear: both;
    float: left;
}

.pref_vertical_line {
    clear: both;
    float: left;
    width: 500px;
    height: 20px;
    border-bottom: solid 1px #D3D3D3;
}

.pref_hosting_hlabel {
    clear: both;
    float: left;
    margin-top: 10px;
}

.email_hosting_handling_area {
    clear: both;
    float: left;
    list-style: none;
    margin: 10px 0 10px 0;
}

.email_hosting_handling_area .reset_line {
    clear: both;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.spam_folder_age_limit_fields .set_span {
    float: left;
    padding-top: 5px;
}

.spam_folder_age_limit_fields .set_first_input {
    clear: both;
    float: left;
    margin-left: 20px;
}

.spam_folder_age_limit_fields .set_input {
    float: left;
    width: 20px;
}

.spam_forwarding_address_fields span {
    float: left;
    padding-top: 5px;
}

.spam_forwarding_address_fields input {
    float: left;
    margin-left: 15px;
}

.deliver_to_spam_fields {
    clear: both;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.deliver_to_spam_fields input {
    float: left;
}

.pref_override_hlbl {
    clear: both;
    float: left;
    margin-top: 10px;
}

.pref_override_opt {
    clear: both;
    float: left;
    list-style: none;
    margin: 10px 0 10px 0;
}

.pref_override_opt li {
    clear: both;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.pref_hosted_exchange_hlabel {
    clear: both;
    float: left;
    margin-top: 10px;
}

.hosted_exchange_handling_area {
    clear: both;
    float: left;
    list-style: none;
    margin: 10px 0 10px 0;
}

.hosted_exchange_handling_area li {
    clear: both;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.pref_send_spam_fields span {
    float: left;
}

.pref_send_spam_fields #forward_to_domain_quarantine_off {
    float: left;
}

.pref_send_spam_fields #forward_to_domain_quarantine_check {
    clear: both;
    float: left;
    margin-left: 20px;
}

.pref_send_domain_fields input[name=quarantine_owner_check] {
    float: left;
}

.pref_send_domain_fields input[name=quarantine_owner] {
    clear: both;
    float: left;
    margin-left: 20px;
}

.pref_send_domain_fields span {
    float: left;
}

.spam_back_link {
    float: left;
    margin-top: 25px;
    margin-bottom: 10px;
}

.spam_userlist_table {
    float: left;
    clear: both;
}

.edit_spamlists_container {
    margin-top: 20px;
    border: solid 1px #D3D3D3;
    float: left;
    width: 600px;
    padding: 10px 20px 10px 20px;
}

#edit_blacklist_table, #edit_blacklist_mailbox_table, #edit_safelist_mailbox_table, #edit_safelist_table {
    float: left;
    margin: 0;
    width: 35%
}

.enter_domain_fields, .select_domain_fields, .enter_ip_fields, .select_ip_fields {
    padding: 10px 0 10px 0;
}

.enter_domain_fields span {
    float: left;
}

.enter_domain_fields .list_domains_emails_add_value {
    clear: both;
    float: left;
}

.enter_domain_fields .list_domains_emails_add_button {
    float: left;
    margin-left: 5px;
}

.select_domain_fields span {
    float: left;
}

.select_domain_fields .list_domains_emails_select {
    clear: both;
    float: left;
    width: 300px;
    height: 100px;
    margin-bottom: 5px;
}

.select_domain_fields .list_domains_emails_remove_button {
    clear: both;
    float: left;
}

.select_domain_fields .list_domains_emails_clear_button {
    float: left;
    margin-left: 5px;
}

.enter_ip_fields span {
    float: left
}

.enter_ip_fields .list_ips_add_value {
    clear: both;
    float: left;
}

.enter_ip_fields .list_ips_add_button {
    float: left;
    margin-left: 7px;
}

.select_ip_fields span {
    float: left
}

.select_ip_fields .list_ips_select {
    clear: both;
    float: left;
    width: 300px;
    height: 100px;
    margin-bottom: 5px;
}

.select_ip_fields .list_ips_remove_button {
    clear: both;
    float: left;
}

.select_ip_fields .list_ips_clear_button {
    float: left;
    margin-left: 5px;
}

#edit_blacklist_tips_table, #edit_blacklist_mailbox_tips_table, #edit_safelist_tips_table, #edit_blacklist_mailbox_tips_table {
    float: left;
    margin: 0 0 0 20px;;
    width: 40%
}

.tip_container div {
    font-size: 11px;
    background-color: #F5F5F5;
    border: solid 1px #D3D3D3;
    padding: 5px;
}

.spam_lists_space1 {
    padding: 120px 0 10px 0;
}

.spam_lists_space2 {
    padding: 10px 0 10px 0;
}

.spam_lists_save_button_area {
    clear: both;
    float: left;
}

.spam_submenu_area, .spam_menu_area {
    margin-top: 20px;
}

.spam_submenu_area > a {
    float: left;
    margin-bottom: 10px;
}

.spam_submenu_area span {
    clear: both;
    float: left;
}

.spam_submenu_area ul {
    clear: both;
    float: left;
}

.spam_mailbox_lists_table {
    float: left;
    clear: both;
}

.spam_mailbox_lists_a {
    float: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

#add_contact_btn {
    float: left;
    margin-top: 20px;
}

#list_contacts_table {
    float: left;
    margin-top: 15px;
}

#manage_contacts_select {
    clear: both;
    float: left;
    margin-right: 10px;
    margin-left: 11px;
}

#manage_contacts_delete {
    float: left;
}

#edit_contact_bookmarks_view, #add_contact_bookmarks_view {
    margin-top: 20px;
}

#edit_contact_general_area {
    width: 100%;
    clear: both;
    float: left;
    border: solid 1px #D3D3D3;
}

#edit_contact_general_table {
    float: left;
    margin: 20px 10px 20px 10px;
}

#edit_contact_area {
    clear: both;
    float: left;
    border: solid 1px #D3D3D3;
    display: none
}

#edit_contact_table {
    float: left;
    margin: 20px 10px 20px 10px;
    width: 45%
}

#add_contact_general_area {
    width: 100%;
    clear: both;
    float: left;
    border: solid 1px #D3D3D3;
}

#add_contact_general_table {
    float: left;
    margin: 20px 10px 20px 10px;
}

#add_contact_area {
    width: 100%;
    clear: both;
    float: left;
    border: solid 1px #D3D3D3;
    display: none
}

#add_contact_table {
    float: left;
    margin: 20px 10px 20px 10px;
    width: 45%
}

#edit_notes_area {
    float: left;
    margin: 20px 0 20px 0;
    width: 45%
}

#edit_notes_area textarea {
    margin-bottom: 10px;
    resize: none;
}

#add_notes_area {
    float: left;
    margin: 20px 0 20px 0;
    width: 45%
}

#add_notes_area textarea {
    margin-bottom: 10px;
    resize: none;
}

.spam_menu_area li.main_li {
    padding-bottom: 10px;
    list-style-type: circle;
}

.spam_menu_area li.main_li li {
    list-style-type: square;
}

#mailboxes_list_table {
    float: left;
    margin-top: 15px;
}

#storage_table {
    float: left;
    margin: 20px 0 20px 0;
    width: 40%
}

#add_mailbox_size_value {
    width: 120px;
}

#add_mailbox_contact_area {
    width: 100%;
    clear: both;
    float: left;
    border: solid 1px #D3D3D3;
    display: none
}

#add_mailbox_contact_table {
    float: left;
    margin: 20px 10px 20px 10px;
    width: 45%
}

#add_mailbox_notes_table {
    float: left;
    margin: 20px 0 20px 0;
    width: 45%
}

#add_mailbox_notes_table {
    float: left;
    margin: 20px 0 20px 0;
    width: 45%
}

#add_mailbox_notes_table textarea {
    margin-bottom: 10px;
    resize: none;
}

#edit_mailbox_bookmarks_view {
    margin-top: 20px;
}

#edit_mailbox_general_table {
    float: left;
    margin: 20px 10px 20px 10px;
    width: 45%
}

#edit_mailbox_contact_table {
    float: left;
    margin: 20px 10px 20px 10px;
    width: 45%
}

#edit_mailbox_contact_table current_usage_lbl {
    float: left;
    margin: 0 0 10px 0;
}

#edit_mailbox_contact_table {
    float: left;
    margin: 20px 10px 20px 10px;
    width: 45%
}

.edit_mailbox_size_value {
    width: 120px;
}

.mg-errorbox {
    background-color: #f2d4ce;
    border: 1px solid #ae432e;
    border-radius: 5px;
    color: #cc0000;
    margin: 10px 5px;
/ / min-height: 28 px;
    padding: 6px 5px 6px 5px;
    text-align: left;
}

.mg-errorbox span.title {
    color: #ae432e;

}

.tableseparate {
    border-collapse: separate;
    border-spacing: 0 3px;
}

#edit_mailbox_general_area td {
    line-height: 25px;
}

.grey {
    background-color: #DDDDDD;
}

tr.grey > td {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
}

tr.white > td {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
}

tr > td {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: right;
}

.mg-successbox {
    background-color: #d9e6c3;
    border: 1px solid #77ab13;
    border-radius: 5px;
    color: #000;
    margin: 10px 5px;
/ / min-height: 28 px;
    padding: 6px 5px 6px 5px;
    text-align: left;
}

.mg-successbox span.title {
    color: #69990f;
}

td > input {
    margin-top: 8px;
}

tr.head > th {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
}

p > small {
    text-align: left !important;
    margin-right: 20px;
}

.login {
    margin-bottom: 20px !important;
}