          <div class="tab-pane" id="control-sidebar-about-tab">
		  
            <ul class="control-sidebar-menu">
              <li>
                <a href="#">
                  <i class="menu-icon fa  fa-info bg-red "></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">AdminLTE-WHMCS</h4>
                    <p><div class="progress progress-xxs"><div class="progress-bar progress-bar-danger" style="width: 100%"></div></div></p>
					<p>Code Name : Lara</p>
                  </div>
                </a>
              </li>
            </ul>

            <ul class="control-sidebar-menu">
              <li>
                  <div class="menu-info">                  

					<ul class="control-sidebar-menu">
					  <li>
						<a href="#">
						  <i class="menu-icon fa fa-code-fork bg-light-blue "></i>
						  <div class="menu-info">
							<h4 class="control-sidebar-subheading">{$_ADMINLANG.global.version}</h4>
							<p>{$lara_options.settings.version}</p>
						  </div>
						</a>
					  </li>
					</ul>
                  </div>				
              </li>
            </ul>			

            <ul class="control-sidebar-menu">
              <li>
                  <div class="menu-info">                  

					<ul class="control-sidebar-menu">
					  <li>
						<a href="#">
						  <i class="menu-icon fa fa-copyright bg-light-blue "></i>
						  <div class="menu-info">
							<h4 class="control-sidebar-subheading">Copyright 2015</h4>
							<p>Amr M. Ibrahim</p>
						  </div>
						</a>
					  </li>
					</ul>
                  </div>				
              </li>
            </ul>

            <ul class="control-sidebar-menu">
              <li>
                  <div class="menu-info">                  

					<ul class="control-sidebar-menu">
					  <li>
						<a href="#">
						  <i class="menu-icon fa fa-envelope  bg-light-blue "></i>
						  <div class="menu-info">
							<h4 class="control-sidebar-subheading">Contact</h4>
							<p>mailamr@gmail.com</p>
						  </div>
						</a>
					  </li>
					</ul>
                  </div>				
              </li>
            </ul>			
		  </div>