<div>
    <form method="post" action="clientarea.php?action=productdetails">
        <input type="hidden" name="id" value="{$serviceid}" />
        <input type="hidden" name="modop" value="custom" />
        <input type="hidden" name="a" value="managesmartermail" />
        <input type="submit" value="Manage SmarterMail Users and Aliases" />
    </form>
</div>
 {if $showdomaindetails}
<div align="left">
<h2>{php}echo $this->_tpl_vars['domaininfo']['GetDomainInfo2Result']['Name'];{/php}</h2>
{php}echo "Users: ".$this->_tpl_vars['domaininfo']['GetDomainInfo2Result']['UserCount']." / ".$this->_tpl_vars['domainsettings']['GetDomainSettingsResult']['MaxDomainUsers']; {/php}
{php}echo "<br>Aliases: ".$this->_tpl_vars['domaininfo']['GetDomainInfo2Result']['AliasCount']." / ".$this->_tpl_vars['domainsettings']['GetDomainSettingsResult']['MaxDomainAliases']; {/php}
{php}echo "<br>Size (MB): ".$this->_tpl_vars['domaininfo']['GetDomainInfo2Result']['SizeMb']." / ".$this->_tpl_vars['domainsettings']['GetDomainSettingsResult']['MaxDomainSizeInMB']; {/php}
</div>
 {else}
 Only SmarterMail 14 or higher can show domain details here.

 {/if}


