.checkSwitch {
	position: relative;
	margin: 4px 0 0 2px;
	width: 70px;
	height: 21px;
	border-radius: 3px;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.3), 0 1px 0 1px rgba(255,255,255,0.3);
	cursor: pointer;
	overflow: hidden;
	display: inline-block;
	background: #e9e9e9;
}

.checkSwitch:hover {
	
}

.checkSwitch input {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.checkSwitchInner {
	position: absolute;
	top: 0;
	left: -45px;
	width: 115px;
	height: 100%;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.checkSwitch.on .checkSwitchInner {
	left: 0;
}

.checkSwitchOn, .checkSwitchOff, .checkSwitchHandle {
	width: 45px;
	height: 100%;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	text-align: center;
	line-height: 22px;
	font-weight: 100;
	color: #ffffff;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.15);
	float: left;
}

.checkSwitchOn, .checkSwitchOff {
	box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
}

.checkSwitchOn {
	position: relative;
	border-radius: 2px 0 0 2px;
	background: #46a546;
        font-weight: bold;
}

.checkSwitchOff {
	position: relative;
	border-radius: 0 2px 2px 0;
	background: #f04124;
        font-weight: bold;
}

.checkSwitchHandle {
	position: relative;
	width: 25px;
	font-size: 16px;
	line-height: 23px;
	font-weight: 100;
	color: #4b4b4b;
	text-shadow: none;
	border-radius: 3px;
	box-shadow: inset 0 -16px 20px -10px rgba(0,0,0,0.12);
	background: #ffffff url('../img/drag_handle.png') center 6px no-repeat;
}





