{if $templatefile == 'clientareahome'}{*debug*}
	<div  class="panel panel-default" id="noticias" style="display:none">
		<div class="panel-heading">
			<h3 class="panel-title"> 
				<i class="fa fa-newspaper-o"></i>&nbsp; {$LANG.clientHomePanels.recentNews}
			</h3>
		</div>

		<div class="list-group">
			{foreach $announcements as $announce}

				<a  href="{$announce.uri}" class="list-group-item data-toggle="tab" id="announce_{$announce.id}">
					{$announce.label}<!--br><br>
					<span class="text-last-updated">{$announce.date}</span-->
				</a>
			{/foreach}
		</div>
		<div class="panel-footer clearfix">
			<a href="announcements.php" class="btn btn-default btn-sm btn-block"><i class="fa fa-newspaper-o"></i>&nbsp; {$LANG.networkstatussubtitle}</a>
		</div>

	</div>
	<div  class="panel panel-default" id="noticias">
		<div class="panel-heading">
			<h3 class="panel-title">
				<i class="fa fa-users"></i>&nbsp; {$LANG.clientHomePanels.affiliateProgram}
			</h3>
		</div>
		<div class="panel-body">
			{*$LANG.clientHomePanels.affiliateSummary*}
			{$LANG.subaccountpermsaffiliates}
		</div>
		<div class="panel-footer clearfix">
			<a href="affiliates.php" class="btn btn-default btn-sm btn-block"><i class="fa fa-users"></i>&nbsp; {$LANG.clientHomePanels.affiliateProgram}</a>
		</div>
	</div>
{/if}