<div>
<h1 style="padding: 10px 50px;"> Manage SmarterMail Users </h1>
<div style="padding: 10px 50px;">
    <table>
        <tr>
            <td>
                <div style="float: left;">
                <form method="post" action="clientarea.php?action=productdetails">
                    <input type="hidden" name="id" value="{$id}" />
                    <input type="hidden" name="modop" value="custom" />
                    <input type="hidden" name="a" value="addsmartermailuser" />
                    <input type="submit" value="Add SmarterMail User" />
                </form>
                </div>
                <div style="float: left; padding-left: 15px;">
                    <form method="post" action="clientarea.php?action=productdetails">
                        <input type="hidden" name="id" value="{$id}" />
                        <input type="hidden" name="modop" value="custom" />
                        <input type="hidden" name="a" value="editsmartermailuserpage" />
                        <input type="submit" value="Edit SmarterMail User" />

                </div>
            </td>
        </tr>
        <tr>
            <td>
                <select style="width: 600px;" size="10" name="selectuser" required>
                    {php}
                    foreach($this->_tpl_vars['wsGetDomainUsersResultArray'] as $value){
                    {/php}<option value="{php}echo $value{/php}">{php} echo $value;{/php}</option>
                    {php}
                        };
                    {/php}
                </select>
            </td>
        </tr>
        </form>
    </table>
	</div>
</div>
<div>
    <h1 style="padding: 10px 50px;">Manage SmarterMail User Aliases</h1>
	<div style="padding: 10px 50px;">
    <table>

            <tr>
                <td>
                    <div style="float: left;">
                        <form method="post" action="clientarea.php?action=productdetails">
                        <input type="hidden" name="id" value="{$id}" />
                        <input type="hidden" name="modop" value="custom" />
                        <input type="hidden" name="a" value="addsmartermailalias" />
                        <input type="submit" value="Add SmarterMail Alias" />
                        </form>
                    </div>
                    <div style="float: left; padding-left: 15px; ">
                        <form method="post" action="clientarea.php?action=productdetails">
                            <input type="hidden" name="id" value="{$id}" />
                            <input type="hidden" name="modop" value="custom" />
                            <input type="hidden" name="a" value="editsmartermailaliaspage" />
                            <input type="submit" value="Edit SmarterMail Alias" />
                    </div>

                </td>
            </tr>

            <tr>
                <td>
                    <select style="width: 600px;" size="10" name="selectalias" required>
                        {php}
                        foreach($this->_tpl_vars["wsGetAliasesResultArray"] as $value){

                        {/php}<option value="{php}echo $value;{/php}">{php} echo $value; {/php}</option>
                        {php}
                            }
                        {/php}
                    </select>
                </td>
            </tr>
        </form>
    </table>
	<br/>
	<br/>
<form method="post" action="clientarea.php?action=productdetails">
    <input type="hidden" name="id" value="{$id}" />
    <input type="submit" value="Go Back" />
</form>
</div>
</div>

