{if $message != ""}
	<div class="alert alert-success text-center" id="alertModuleCustomButtonSuccess">
		{$message}
	</div>
{/if}
{if $errormessage != ""}
	<div class="alert alert-danger text-center" id="alertModuleCustomButtonFailed">
		{$errormessage}
	</div>
{/if}<br clear="both" />
<div style="float:left; width: 123px;">
	<form method="post" action="clientarea.php?action=productdetails">
		<input type="hidden" name="id" value="{$id}" />
		<input type="hidden" name="modop" value="custom" />
		<input type="hidden" name="domain" value="{$DomainName}" /> 
		<input type="hidden" name="listname" value="{$ListName}">
		<input type="hidden" name="a" value="editsmartermailmailinglistspage" />
		<input type="submit" value="{$LANG.smglobalback}" class="btn btn-primary" style="width:123px" />
	</form>
</div><br clear="both" /><br clear="both" />

<form method="post" action="clientarea.php?action=productdetails" class="form-horizontal using-password-strength" >
<h3>{$LANG.smaddmailinglistASS} | {$ListName}</h3>
<div class="form-group">
<label for="inputalias" class="col-sm-5 control-label">{$LANG.smmailinglistsASS}</label>
<div class="col-sm-6">
<textarea cols="36" rows="15" name="newSub" style="overflow: auto; resize: none; width: 100%"  class="form-control"></textarea>
</div>
</div>
<input type="hidden" name="listname" value="{$ListName}" />
<div class="form-group">
<div class="text-center">
<input type="hidden" name="id" value="{$id}" />
<input type="hidden" name="modop" value="custom" />
<input type="hidden" name="domain" value="{$DomainName}" />
<input type="hidden" name="a" value="createsmartermailmailinglistsSign" />
<input type="submit" value="{$LANG.smglobalsave}" class="btn btn-primary" /> 
</div>
</div>
</form>

